@media screen and (max-width: 576px) {

    .prizes_article_section_wrapper{
        flex-direction: column;
        margin-top: 0rem;
        width: 100%;
        align-items: center;
        margin-bottom: 0rem;
    }

    .prizes_article_section_wrapper_img_container{
        width: 100%;
        height: 40vh;
    }

    .prizes_article_section_wrapper_article_container{
        width: 90%;
    }

    .prizes_article_section_wrapper_article_container_H1{
        text-align: center;
        margin-top: 20px;
    }

    .prizes_article_section_wrapper_article_container_P{
        text-align: center;
        margin-bottom: 30px;
        margin-top: 10px;
    }


}