@media screen and (max-width: 576px) {

    .header_logo_container{
        width: 10%;
    }

    .header_menu_wrapper {
        display: none;
    }

    .header_main_wrapper_mobile {
        display: block;
        color: rgba(255, 255, 255, 1);
    }
}