.landing_body {
    min-height: 100vh;
    height: max-content;
    width: 100%;
    background: rgba(255, 255, 255, 1);
}

.landing_hero {
    width: 100%;
    /* height: 90vh; */
    background-image:
        linear-gradient(to left, rgba(232, 244, 247, 0.5), rgba(44, 27, 30, 0.75)), url('../assets/image1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing_hero_wrapper {
    width: 90%;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px 0px;
}

.landing_hero_wrapper_h2 {
    font-size: 32px;
    color: rgba(23, 183, 136, 1);
    line-height: 48px;
    font-weight: 800;
    /* width: 58%; */
}

.landing_hero_wrapper_h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 90px;
    /* width: 58%; */
    color: rgba(255, 255, 255, 1);
}

.landing_hero_wrapper_p {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    width: 60%;
}

.landing_hero_btn_holder {
    width: 30%;
    height: 16vh;
    display: flex;
    align-items: center;
}

.landing_hero_btn {
    width: 70%;
    height: 55%;
    background: rgba(23, 183, 136, 1);
    border-radius: 10px;
    border: none;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.landing_ready {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.landing_ready_wrapper {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.landing_ready_wrapper_h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 72px;
    color: rgba(89, 84, 84, 1);
    margin-top: 40px;
    margin-bottom: 40px;
}

.landing_ready_wrapper_card_contain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.landing_ready_card {
    width: 28%;
    height: 70vh;
}

.landing_ready_card_img_holder {
    width: 100%;
    height: 70%;
}

.landing_ready_card_img {
    width: 100%;
    height: 100%;
}

.landing_ready_card_holder {
    width: 100%;
    /* height: 30%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.landing_ready_card_A {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* width: 75%; */
    color: #ffff;
}

.landing_category {
    /* height: 85vh; */
    width: 100%;
    background: rgba(217, 217, 217, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing_category_wrapper {
    width: 90%;
    height: 90%;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.landing_category_wrapper_h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 56.25px;
    color: rgba(89, 84, 84, 1);
    margin: 40px 0;
}

.landing_category_wrapper_p {
    font-size: 18px;
    font-weight: 800;
    line-height: 27px;
    color: rgba(89, 84, 84, 1);
}

.landing_category_wrapper p span {
    font-weight: 500;
}


.landing_category_card_container {
    width: 100%;
    /* height: 55vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;

}

.landing_category_card {
    width: 24%;
    min-height: 75vh;
    background: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(124, 124, 124, 0.25);
    border-radius: 10px;
    margin: 30px 0;
    gap: 20px;

}


.landing_category_card_currency_div {
    width: 20%;
    height: 8.4vh;
    background: rgba(217, 217, 217, 0.4);
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(89, 84, 84, 1);
    margin-top: 20px;
}

.landing_category_card_h2 {
    text-align: center;
    color: rgba(89, 84, 84, 1);
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    width: 100%;
}

.landing_category_card ul {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.landing_category_card ul li {
    font-size: 14px;
    line-height: 21px;
    color: rgba(89, 84, 84, 1);
}

.landing_price_category {
    width: 100%;
    height: 75vh;
    background: #ffff;
    display: flex;
    justify-content: center;
}

.landing_price_price_container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.landing_price_category_wrapper {
    width: 55%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing_price_card {
    width: 29%;
    height: 55%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing_price_card_wrapper {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.landing_price_icon_holder {
    width: 27%;
    height: 20%;
    background: rgba(217, 217, 217, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
}

.landing_price_title_holder {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.landing_price_article_holder {
    width: 100%;
    height: 40%;
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

.landing_page_map_container{
    width: 100%;
}

.landing_road_map {
    width: 100%;
    height: 70vh;
}

.landing_road_map_title {
    width: 100%;
    height: 15%;
    background: rgba(211, 216, 218, 1);
    line-height: 36px;
    font-size: 24px;
    font-weight: 700;
    color: rgba(89, 84, 84, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing_road_map_img_container {
    width: 100%;
    height: 85%;
}

.landing_road_map_img_container img {
    width: 100%;
    height: 100%;
}

.landing_meet_sponsor {
    width: 100%;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing_meet_sponsor_h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: rgba(89, 84, 84, 1);
    margin: 40px 0px;
}

.landing_meet_sponsor_logo_div {
    width: 90%;
    /* height: 40%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 60px 0px;
}

.landing_meet_sponsor_logo_div_img {
    /* height: 22vh; */
    width: 19%;
}

.landing_meet_sponsor_logo2{
    width: 19%;
}

.landing_news {
    width: 100%;
    /* height: 100vh; */
    background-color: rgba(31, 227, 169, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.landing_news_h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 70.31px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin: 50px 0;
}

.landing_news_wrapper {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 60px 0;
}

.landing_news_card {
    width: 31%;
    height: 60vh;
}

.landing_news_img_container {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
}

.landing_news_img_container img {
    width: 100%;
    height: 100%;
}

.landing_news_article {
    height: 50%;
    width: 100%;
    background: #ffff;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.landing_news_article_header {
    /* width: 85%; */
    height: 20%;
    display: flex;
    align-items: center;
}

.landing_news_article_header_h4 {
    line-height: 27px;
    font-weight: 700;
    font-size: 18px;
    color: rgba(89, 84, 84, 1);
    text-align: center;
}

.landing_news_article_header_span {
    color: rgba(23, 150, 183, 1);
}

.landing_news_article_content {
    width: 85%;
    height: 55%;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(38, 38, 38, 1);
    overflow: auto;
}

.landing_news_article_btn {
    width: 85%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.landing_news_article_btn_span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    color: rgba(118, 191, 208, 1);
    cursor: pointer;
    border: none;
    background: none;
}

.landing_news_view_more_btn {
    width: 10%;
    height: 5vh;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    line-height: 18.75px;
    font-weight: 700;
    font-size: 16px;
    color: rgba(23, 150, 183, 1);
    margin: 0px 0px 60px 0px;
}

.landing_become_a_sponsor {
    width: 100%;
    height: 90vh;
    background: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.landing_beome_a_sponsor_container {
    width: 100%;
    background-color: rgba(32, 191, 232, 0.5);
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.landing_become_a_sponsor_wrapper {
    position: relative;
    width: 100%;
    height: 73%;
    background: url('../assets/becomeSponsor.png') no-repeat center center;
    background-size: cover;
}

/* .landing_become_a_sponsor_wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 191, 232, 0.5);
} */

.landing_become_a_sponsor_wrapper_1 {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.landing_become_a_sponsor_wrapper_1_H1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 72px;
    color: rgba(255, 255, 255, 1);
}

.landing_become_a_sponsor_wrapper_1_P {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.landing_become_a_sponsor_wrapper_2 {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
}

.landing_become_a_sponsor_wrapper_2 ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.landing_become_a_sponsor_wrapper_2_button {
    width: 177px;
    height: 57px;
    background: rgba(23, 183, 136, 1);
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    border: none;
    font-weight: 800;
    font-size: 18px;
    line-height: 21.09px;
    color: rgba(255, 255, 255, 1);

}