@media screen and (max-width: 576px) {


    .landing_hero {
        min-height: 40vh;
    }

    .landing_hero_wrapper {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .landing_hero_wrapper_h2 {
        font-size: 20px;
        width: 100%;
        line-height: 30px;
    }

    .landing_hero_wrapper_h1 {
        font-size: 18px;
        line-height: 27px;
        /* width: 70%; */
    }

    .landing_hero_wrapper_p {
        font-size: 13px;
        line-height: 19.5px;
        width: 100%;
    }

    .landing_hero_btn_holder {
        width: 100%;
        height: 8vh;
        justify-content: center;
    }

    .landing_hero_btn {
        width: 100%;
        height: 100%;
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
    }

    .landing_ready_wrapper_h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .landing_ready_wrapper_card_contain {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between;*/
        margin-bottom: 10px; 
    }

    .landing_ready_card {
        width: 108%;
        height: 70vh;
        margin-bottom: 0px;
    }

    .landing_ready_card_img_holder {
        width: 100%;
        height: 60%;
    }

    .landing_category_wrapper_h1 {
        font-size: 20px;
        line-height: 28.13px;
    }

    .landing_category_wrapper_p {
        font-size: 15px;
    }

    .landing_category_card_container {
        flex-direction: column;
    }

    .landing_category_card {
        width: 95%;
        /* height: 65vh; */
    }

    .landing_price_category {
        display: none;
    }

    .landing_page_map_container {
        display: none;
    }

    .landing_meet_sponsor {
        /* height: 40vh; */
    }

    .landing_meet_sponsor_h1 {
        font-size: 24px;
        /* margin: 40px 0px 10px 0px; */
        line-height: 36px;
        text-align: center;
    }

    .landing_meet_sponsor_logo_div {
        /* width: 90%;
        height: 50%; */
    }

    .landing_news_h1 {
        font-size: 24px;
        line-height: 28.13px;
    }

    .landing_news_wrapper {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .landing_news_card {
        width: 90%;
        margin: 20px 0;
        height: 65vh;
        /* overflow: auto; */
    }

    .landing_news_article_header_h4{
        font-size: 16px;
        font-weight: 600;
    }

    .landing_news_view_more_btn {
        width: 90%;
        height: 10vh;
    }

    .landing_become_a_sponsor {
        height: 60vh;
    }

    .landing_become_a_sponsor_wrapper_1 {
        width: 100%;
    }

    .landing_become_a_sponsor_wrapper_1_H1 {
        font-size: 24px;
        line-height: 36px;
    }

    .landing_become_a_sponsor_wrapper_1_P {
        font-size: 16px;
        line-height: 24px;
    }

    .landing_become_a_sponsor_wrapper_2 {
        width: 90%;
    }

    .landing_become_a_sponsor_wrapper_2 ul{
        font-size: 16px;
    }

    .landing_become_a_sponsor_wrapper_2_button {
        width: 100%;
        height: 59%;
    }

    .landing_road_map {
        /* height: 35vh; */
        margin: 50px 0px;
    }

    .landing_road_map_title {
        height: 15%;
        line-height: 22.5px;
        font-size: 15px;
        font-weight: 700;
    }




}