.blog_main_body {
    width: 100%;
    min-height: 100vh;
    height: max-content;
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog_hero_section {
    width: 100%;
    height: 100vh;
    background: url(../assets/blog1.png) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_hero_section_content {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.blog_hero_section_content_h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: rgba(23, 183, 136, 1);
}

.blog_hero_section_content_h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 54px;
    color: rgba(23, 183, 136, 1);
    width: 20%;
}

.blog_hero_section_play_container {
    width: 100px;
    height: 100px;
    background: rgba(23, 183, 136, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}

.blog_title_header {
    width: 90%;
    height: 20vh;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 45px;
    line-height: 67.5px;
    color: rgba(0, 0, 0, 1);
}

.blog_card_container {
    width: 100%;
    /* height: 220vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 20px;
}

.blog_card_wrapper {
    width: 90%;
    /* height: 80%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog_card_body {
    width: 45%;
    height: 70vh;
    border-radius: 0px 0px 90px 0px;
    border: 1px solid rgba(23, 150, 183, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.blog_card_image_holder {
    width: 100%;
    height: 60%;
}

.blog_card_image_holder img {
    width: 100%;
    height: 100%;
}

.blog_write_holder {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.blog_write_holder_h1 {
    font-weight: 600;
    font-size: 35px;
    line-height: 52.5px;
}

.blog_write_holder_p {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

.blog_write_holder_h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    border: none;
    background: none;
    color: rgba(23, 183, 136, 1);
}