.contact_us_main_body {
    width: 100%;
    min-height: 100vh;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.contact_us_hero_wrapper {
    width: 100%;
    height: 80vh;
    background: url(../assets/contactUs1.png) no-repeat center center;
    background-size: cover;
    /* opacity: 50%; */
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 90px;
    color: rgba(255, 255, 255, 1);
    padding-left: 60%;
}

.contactUs_get_intouch_wrapper {
    width: 90%;
    min-height: 100vh;
    background: url(../assets/contactUs2.png) no-repeat center;
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contactUs_get_intouch_body {
    height: 100vh;
    width: 48%;
    background: rgba(255, 255, 255, 1);
    opacity: 70%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactUs_get_intouch {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contactUs_get_intouch_h2 {
    color: rgba(23, 183, 136, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.contactUs_get_intouch_h1 {
    color: rgba(217, 217, 217, 1);
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
}

.contactUs_get_intouch_p {
    color: rgba(7, 7, 7, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    width: 48%;
}

.contactUs_get_intouch_name_wrapper {
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactUs_get_intouch_name_wrapper input {
    width: 48%;
    height: 80%;
    padding: 10px;
    color: rgba(130, 130, 130, 1);
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    border: 2px solid rgba(23, 183, 136, 1);
    border-radius: 10px;
    outline: none;
    background-color: rgba(249, 249, 249, 1);
}

.contactUs_get_intouch_email_wrapper {
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
}

.contactUs_get_intouch_email_wrapper input {
    width: 100%;
    height: 80%;
    padding: 10px;
    color: rgba(130, 130, 130, 1);
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    border: 2px solid rgba(23, 183, 136, 1);
    border-radius: 10px;
    outline: none;
    background-color: rgba(249, 249, 249, 1);
}

.contactUs_get_intouch_textArea_wrapper {
    width: 100%;
    height: 25%;
}

.contactUs_get_intouch_textArea_wrapper textarea {
    width: 100%;
    height: 90%;
    border: 2px solid rgba(23, 183, 136, 1);
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background: rgba(249, 249, 249, 1);
}

.contactUs_get_intouch_btn_wrapper {
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
}

.contactUs_get_intouch_btn {
    width: 100%;
    height: 80%;
    background: rgba(23, 183, 136, 1);
    border-radius: 10px;
    font-size: 20px;
    line-height: 27.24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    border: none;
}

.contactUs_get_intouch_map {
    width: 65%;
    height: 45vh;
    background: url(../assets/contactUs3.png) no-repeat center;
    background-size: cover;
    margin-bottom: 100px;
}