@media screen and (max-width: 576px) {

    .roads_and_map_mainBody_article_section_wrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .roads_and_map_mainBody_article_section_wrapper_img_container {
        width: 100%;
        height: 30vh;
    }

    .roads_and_map_mainBody_article_section_wrapper_article_container {
        width: 100%;
    }


    .roads_and_map_mainBody_article_section_wrapper_article_container_P {
        text-align: center;
    }

    .roads_and_map_mainBody_article_section_wrapper_article_image{
        height: 30vh;
        margin-top: 2rem;
    }

}